@font-face {
	font-family: 'iransans';
	src:url('../fonts/iransans.woff');
	font-weight: normal;
}
@font-face {
	font-family: 'iransans';
	src:url('../fonts/iransans-ultra-light.woff');
	font-weight: 100;
}
@font-face {
	font-family: 'iransans';
	src:url('../fonts/iransans-light.woff');
	font-weight: 200;
}
@font-face {
	font-family: 'iransans';
	src:url('../fonts/iransans-medium.woff');
	font-weight: 300;
}
@font-face {
	font-family: 'iransans';
	src:url('../fonts/iransans-bold.woff');
	font-weight: bold;
}

body {
    direction: rtl;
    font-family: 'iransans'
}

#list {
    width: 100%;
    vertical-align: top;
    ul {
        position: fixed;
        height: 100%;
        overflow-y: scroll;
        margin: -.5rem;
        padding: .5rem;
        background-color: rgba(lighten(black, 20), .99);
        text-shadow: 0 0 1px black;
        li {
            list-style: none;
            a {
                color: #fff;
                text-decoration: none;
                &:visited {
                    color: #fff
                }
                &:active {
                    color: greenyellow;
                }
            }
        }
    }
    &.none {
        display: none;
    }
}
#drawer {
    position: fixed;
    left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #847373;
    z-index: 2;
    div {
        position: absolute;
        height: 2px;
        width: 25px;
        background-color: #fff;
        &:first-child {
            top: 13px;
            right: 7px;
        }
        &:nth-child(2) {
            top: 25px;
            right: 7px;
        }
    }
}

#content {
    width: 100%;
}

div {
    display: inline-block;
}

  @media screen and (min-width: 48rem) {
      #list {
          width: 20%;
      }
      #content {
          width: 100%;
      }
}

@media screen and (min-width: 80rem) {
    #list.none {
        display: inline-block;
    }
    #content {
        width: 80%;
    }

}

@media print {
    #list {
        display: none;
    }
    #content {
        display: block;
        width: 100%;
        margin: 0 auto; 
        p,li {
            font-size: 12px;
        }
    }
  }